// Breakpoints
//---------------------------------------//
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

// Colors
//---------------------------------------//
$black: #111111;
$white: #fafafa;
$gray: #333333;
$gray-dark: #343a40;
$gray-darker: #202020;
$red: red;
$blue: #01b1f0;
$blue-light: #9eccdd;
$blue-dark: #108cb8;
$blue-lighter: #3fbcd0;
$blue-info: #17a2b8;
$shadow-1: #adb5bd;
$shadow-2: rgba(214, 215, 216, 0.3);

// Fonts
//---------------------------------------//
$OpenSans: "Open Sans";
$OpenSansLight: "Open Sans Light";
$OpenSansLightItalic: "Open Sans Light Italic";
$OpenSansBold: "Open Sans Bold";
$OpenSansBolditalic: "Open Sans Bold Italic";
$OpenSansExtraBold: "Open Sans Extra-Bold";
$OpenSansExtraBolditalic: "Open Sans Extra-Bold Italic";
$OpenSansSemiBold: "Open Sans Semi-Bold";
$OpenSansSemiBolditalic: "Open Sans Semi-Bold Italic";

// Spacing
//---------------------------------------//
$section-padding: 6rem;
$section-inside: 4rem;

// Sizes
//---------------------------------------//
$icon-size: 100px;
$header-height: 65px;