/*-----------------------------------------
# Typography: common
-----------------------------------------*/
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.text-blue-lighter {
  color: $blue-lighter;
}

.subtitle {
  font-weight: 100;
  font-size: 1.5em;
}